<?xml version="1.0"?>
<!--
/**
 * @package    Leytech_FixUrlRewrites
 * @author     Chris Nolan (chris@leytech.co.uk)
 * @copyright  Copyright (c) 2017 Leytech
 * @license    https://opensource.org/licenses/MIT  The MIT License  (MIT)
 */
-->
<config>
    <modules>
        <Leytech_FixUrlRewrites>
            <version>1.0.1</version>
        </Leytech_FixUrlRewrites>
    </modules>
    <global>
        <helpers>
            <leytech_fixurlrewrites>
                <class>Leytech_FixUrlRewrites_Helper</class>
            </leytech_fixurlrewrites>
        </helpers>
        <models>
            <catalog>
                <rewrite>
                    <url>Leytech_FixUrlRewrites_Model_Url</url>
                </rewrite>
            </catalog>
        </models>
    </global>
    <default>
        <leytech_fixurlrewrites>
            <settings>
                <enabled>1</enabled>
            </settings>
        </leytech_fixurlrewrites>
    </default>
</config>